*.iml
.gradle
.idea
.kotlin
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
# Keystore files
*.jks
*.keystore
info.txt

# Local properties file (often contains sensitive data)
local.properties

/app/release/*